<!doctype html>
<html lang="en"> <!--ng-app="weather App">-->
  <head>
    <meta charset="utf-8">
    <title>WeatherApp Angular UI</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="app.module.js"></script>
  </head>

  <body>
    <div ng-app="weatherApp" ng-controller="weatherapiController"> 
     <!-- <p>PlaceholderID: <input type="text" name=placeid ng-model="placeid"ng-click="updatePlaceData(placeid)" ng-keydown="$event.which === 13 && updatePlaceData(placeid)"></p>-->
      <!--<button ng-click=updatePlaceData(placeid)>Change Place ID</button>-->
     <!-- <p>PlaceData: {{ placeData }} </p> -->

      <p>CityName: <input type="text" name=cityname ng-model="cityname" ng-click="updateCityTemp(cityname)" ng-keydown="$event.which === 13 && updateCityTemp(cityname)"></p>
      <p>CityTemp: {{ citytemp }} </p>
    </div>

</body>

</html>